.formContainer{
    display: flex;
  justify-content: center;
}

h1{
    font-family: monospace;
    font-size: 50px;
    background-color: aqua;
    padding: 20px;
    border-radius: 20px;
}

input{
    width: 90%;
    height: 30px;
     margin: 0.5rem;
}

button {
    border-radius: 10px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
  }

